body {
    background-image: url("photo/BG.jpg");
    background-position: 0% 0%;
    background-repeat: repeat;
    font-size: 15px;
    font-weight: 400;
    color: #532d28;
    font-family: 'Franklin Gothic', 'Sans-serif', 'Georgia';
    padding-left: 10px;
    line-height: 1.5;
    letter-spacing: 1px; 
    max-width: 1100px;   
}
h2 {
    font-size: 20px;
    font-weight: 700;
    color: #6c413e;
    font-family: 'Lato', 'Sans-serif', 'Georgia';
    padding-left: 0.5cm;
    margin: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9c9b3;
} 
h3 {
    font-size: 18px;
    font-weight: 600;
    color: #6c2520;
    font-family: 'Sans-serif', 'Georgia', 'Times';
    padding-left: 0.5cm;
    margin: 1px;
}
h4 {font-size: 17px;
    font-weight: 600;
    color: #4e1b178c;
    font-family: 'Source Sans Pro', 'Roboto', 'Comic';
    padding-left: 0.3cm;
    margin: 2px;    
}
.header {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d9c9b3;
}
.main-photo {
    width: 150px;
    height: auto;
    border-radius: 7px;
    flex-shrink: 0;
}
.pdata-list{
    font-size: 16px;
    color: rgb(31, 4, 4);
    font-family: 'Sans-serif', 'Georgia', 'Times';
    margin-top: 2px;
    margin-bottom: 2px;
}
.links a {
       color: #785035;
}
.links a:visited {
    color: #785035;
 }
.links a:hover {
    color: #dab48d;
}   
.links a:active {
    color: #e4cab0;
}   
.grid-table {
    display: grid;
    grid-template-columns: 413px 413px 1fr;
    grid-template-rows: 273px 273px;
    gap: 8px;
    justify-content: center; 
}
.grid-table .single {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.grid-table .double {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.button {
    background-color: #d2b288;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover {
background: hsla(7, 75%, 81%, 0.541);
}
.form {
  width: 40%;
  height: 20px;
  padding: 8px;
  font-size: 14px;
  background: #f1e6d8;
  color: #5c4033;
  border: 1px solid #d6c4b2;
  border-radius: 5px ;
  outline: none;
  border: 1px solid #d6c4b2;
  box-shadow: none;
}
.message{
  width: 60%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  background: #f1e6d8;
  color: #5c4033;
  border: 1px solid #d6c4b2;
  border-radius: 10px ;
  outline: none;
  border: 1px solid #d6c4b2;
  box-shadow: none;
}
.experience {
    display: grid;
    grid-template-columns: 120px 200px 1fr;
    gap: 15px;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9c9b3;
}
.experience .date{
    font-weight: bold;
}
.experience .job{
    font-weight: bold;
}
.experience .items{
    line-height: 1.4;
    text-align: justify;
    width: 100%;
}
.additional{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin-left: -20px;
    border-bottom: 1px solid #d9c9b3;
}
.skills{
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 10px;
}
ul{
  margin: 1px;
  padding-left: 10px;
  list-style-type: square;
  text-align: start;
}
#footer{
    list-style-type: circle;
    margin: 0;
    padding: 0;
}